name: tests

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ '*' ]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/lint@v1

  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Run across a mixture of Python versions and operating systems
        include:
        - os: ubuntu-latest
          python-version: "3.11"
        - os: macos-latest
          python-version: "3.10"
        - os: windows-latest
          python-version: "3.9"

    steps:
      - name: Cache atlases
        uses: actions/cache@v3
        with:
          path: ~/.brainglobe
          key: bg-atlases
      # Setup pyqt libraries
      - uses: tlambert03/setup-qt-libs@v1
      # Helps set up VTK with a headless display
      - uses: pyvista/setup-headless-display-action@v2
      # Run tests
      - uses: neuroinformatics-unit/actions/test@v1
        with:
          python-version: ${{ matrix.python-version }}
          use-xvfb: true

  build_sdist_wheels:
    name: Build source distribution
    needs: [test]
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
    - uses: neuroinformatics-unit/actions/build_sdist_wheels@v1


  upload_all:
    name: Publish build distributions
    needs: [build_sdist_wheels]
    runs-on: ubuntu-latest
    steps:
    - uses: neuroinformatics-unit/actions/upload_pypi@v2
      with:
        secret-pypi-key: ${{ secrets.TWINE_API_KEY }}
